* {
  /* Material web doesn't do this by default (??) */
  /* Upstream bug: --md-sys-color-surface-container-highest does not get set by applyTheme() */
  --md-filled-field-container-color: var(--md-sys-color-surface);
}

html {
  box-sizing: border-box;
  color-scheme: light dark;
  background-color: #121212;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  --md-ref-typeface-plain: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Allow overscroll */
  margin-bottom: 10em;
}

@media (prefers-color-scheme: light) {
  html {
    background-color: #fdf6e3;
  }

  input {
    background-color: #eee8d5;
    border-width: 1px;
    border: #8d897b solid 1px;
    border-radius: 4px;
  }
}

code {
  font-family: Monaco, Consolas, "Courier New", monospace;
}

main {
  max-width: 75em;
  margin: 0 auto;
  padding-inline: 1em;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: fit-content;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background: var(--md-sys-color-secondary-container);
  padding: 1em;
  border-radius: 1em;
}

input {
  height: 2em;
  font-size: 1rem;
}

button {
  padding: 0.5em 1em;
  /* font-size: 1rem; */
}

.checkbox-container {
  display: flex;
  align-items: center;
}

form h3 {
  margin: 0;
  /* margin-bottom: 0.5em; */
}

form h4 {
  margin: 0;
  margin-top: 0.5em;
}

.traffic-light-graphic {
  all: unset;
  width: fit-content;
  padding-inline: 1.5em;
  transition: transform 0.1s ease-out;
}

.traffic-light-graphic:focus-visible {
  outline: 0.25em solid #268bd2;
  outline-offset: 0.25em;
  /* outline-color: auto;
  outline-offset: 0px;
  outline-style: auto;
  outline-width: 1px; */
}

.traffic-light-graphic:hover {
  transform: scale(1.05);
}

.traffic-light-graphic:hover .traffic-light-light[data-active] {
  box-shadow: 0 0 1em 0.75em var(--color);
}

@media screen and (prefers-color-scheme: dark) {
  .traffic-light-graphic:hover .traffic-light-body {
    box-shadow: 0 0 0.75em 0.5em black;
  }
}
@media screen and (prefers-color-scheme: light) {
  .traffic-light-graphic:hover .traffic-light-body {
    box-shadow: 0 0 0.75em 0.1em black;
  }
}

.traffic-light-graphic:active,
.traffic-light-graphic[pressed] {
  transform: scale(0.98);
}

@media (prefers-reduced-motion: reduce) {
  /* Remove the eye-candy motion */
  .traffic-light-graphic.traffic-light-graphic.traffic-light-graphic {
    transform: none;
  }
}

.traffic-light-graphic .traffic-light-body {
  /* --scale: 4; */
  /* width: calc(25em / var(--scale)); */
  /* height: calc(59em / var(--scale)); */
  width: min-content;
  border-radius: 1em;
  background-color: #505755;
  padding: 0.5em;
  border: 0.5em solid #bbc5b8;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  transition: box-shadow 0.1s ease-out;
}

.traffic-light-graphic .traffic-light-light {
  --traffic-light-diameter: 4em;
  width: var(--traffic-light-diameter);
  height: var(--traffic-light-diameter);
  border-radius: 50%;
  background-color: black;
}

.traffic-light-graphic .traffic-light-red[data-active] {
  --color: #cc3232;
}

.traffic-light-graphic .traffic-light-amber[data-active] {
  --color: #e7b416;
}

.traffic-light-graphic .traffic-light-green[data-active] {
  --color: #2dc937;
}

.traffic-light-graphic .traffic-light-light[data-active] {
  background-color: var(--color);
  box-shadow: 0 0 1em 0.5em var(--color);
  transition: box-shadow 0.1s ease-out;
}

.theme-color-input {
  width: 4em;
  height: 4em;
}
