html {
  box-sizing: border-box;
  color-scheme: light dark;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  max-width: 75em;
  margin: 0 auto;
  padding-inline: 1em;
}

h1 {
  font-size: 3rem;
}